@use "@/styles/variables" as *;
@use '@/styles/breakpoints' as *;

.button{
    all: unset;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    border: 1px solid var(--white-op30);
}