body{ 
    
    --g-black: #000000;
    --g-black-op90: rgba(0,0,0,0.9);


    --g-white: #ffffff;
    --g-white-op50: rgba(255,255,255,0.5);
    --g-white-op30: rgba(255,255,255,0.3);
    

    --g-gradient-start: rgba(255,255,255,0.10);
    --g-gradient-end: rgba(255,255,255,0.05);

    --g-green: rgba(102, 255, 51,1);
}