@font-face {
    font-family: 'Roboto';
    src: url('../styles/fonts/Roboto.ttf') format('truetype');
}

@font-face {
    font-family: 'Inter';
    src: url('../styles/fonts/Inter.ttf') format('truetype');
}
  