@use "@/styles/colors" as *;
@use "@/styles/font" as *;

$font-size-1: 32px;
$font-size-2: 24px;
$font-size-3: 20px;
$font-size-4: 16px;
$font-size-5: 14px;
$font-size-6: 12px;

$primary-font: "JetBrainsMono", sans-serif;

body,body.light-theme{
    --gradient-start: var(--g-gradient-start);
    --gradient-end: var(--g-gradient-end);
    --white-op30: var(--g-white-op30);

    --white: var(--g-white);
    --black: var(--g-black);

}