@use "@/styles/variables" as *;
@use '@/styles/breakpoints' as *;


.modal-background{
    background-color: unset;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    .modal{
        display: flex;
        flex-direction: column;
        border-radius: 16px;
        max-height: 80vh;
    }
}



@include breakpoint(mobile_large) {
    .modal{
        width: calc(100% - 64px);
    }
}

@include breakpoint(mobile_medium) {
    .modal{
        width: calc(100% - 32px);
    }
}