@use "@/styles/variables" as *;
@use '@/styles/breakpoints' as *;


*{
  font-family: $primary-font;
}

body{
  padding: 0px;
  margin: 0px;
  
  overflow: hidden;
  background-color: black;
}

.main{
  display: grid;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  color: var(--white);
  font-weight: 100;
}

.blur-background,
.react-select__menu,
.react-datepicker-wrapper,
.react-datepicker,
.react-datepicker__header,
.react-datepicker__day--range-start:not(.react-datepicker__day--outside-month),
.react-datepicker__day--range-end:not(.react-datepicker__day--outside-month),
.react-datepicker__day--in-range:not(.react-datepicker__day--outside-month),
.react-datepicker__day:hover{
  backdrop-filter: blur(10px) !important;
  background-image: linear-gradient(140deg, var(--gradient-start) 5%, var(--gradient-end) 80%),url("noise.webp") !important;
  background-size: cover !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  image-rendering: pixelated !important;
  border: 1px solid var(--white-op30) !important; 
  box-shadow: 2.5px 2.5px 7.5px rgba(0, 0, 0, 0.25) !important;
}

sup{
  position: absolute;
  transform: translate(0px,-5px);
}

input[type=number]{
  all: unset;
  font-size: $font-size-4;
  border-radius: 4px;
  padding: 2px;
  border: 1px solid var(--white-op30) !important; 
  &:focus{
    color: var(--white);
    border: 1px solid var(--white) !important; 
  }
}
.react-select-full{
  .react-select__control{
    backdrop-filter: blur(10px) !important;
    background-image: linear-gradient(140deg, var(--gradient-start) 5%, var(--gradient-end) 80%),url("noise.webp") !important;
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    image-rendering: pixelated !important;
    box-shadow: 2.5px 2.5px 7.5px rgba(0, 0, 0, 0.25) !important;
    .react-select__value-container{
      .react-select__single-value{
        color: var(--white) !important;
      }
    }
    .react-select__indicators{
      .react-select__indicator-separator{
        background-color: var(--white) !important;
      }
      .react-select__indicator{
        svg{
          fill: var(--white) !important;
        }
      }
    }
  }
}
.react-select-container{
  width: 100%;
  .react-select__control{
    border: 1px solid var(--white-op30);
    background-color: transparent;
    &:hover{
      box-shadow: unset;
      border-color: var(--white);
    }
    .react-select__value-container{
      .react-select__single-value{
        color: var(--white-op30);
      }
    }
    .react-select__indicators{
      .react-select__indicator-separator{
        background-color: var(--white-op30);
      }
      .react-select__indicator{
        svg{
          fill: var(--white-op30);
        }
      }
    }
  }
  .react-select__control--is-focused{
    border-color: var(--white);
    box-shadow: unset;
    .react-select__value-container{
      .react-select__single-value{
        color: var(--white);
      }
      .react-select__input{
        color: var(--white) !important;
      }
    }
  }
  .react-select__menu{
    border: 1px solid var(--white-op30);
    background-color: var(--black);
    .react-select__menu-list{
      .react-select__option{
        cursor: pointer;
      }
      .react-select__option--is-focused{
        background-color: var(--white-op30);
      }
      .react-select__option--is-selected{
        background-color: var(--white-op30);
      }
    }
  }
}

.OP-annulus-rli-bounding-box{
  width: 24px !important;
  height: 24px !important;
  .OP-annulus-indicator >.whirl {
    position: relative !important;
  }
}


.react-datepicker-wrapper {
  border-radius: 4px;
  width: 116px;
  .react-datepicker__input-container {
    input {
      color: var(--white);
      width: calc(100% - 20px);
      background-color: transparent;
      outline: unset;
      padding: 4px 8px;
      border: unset !important;
      font-size: $font-size-4;

      margin: 2px;
    }
  }
}

.react-datepicker-popper {
  svg{
    fill: var(--white-op50) !important;
    color: var(--white-op50) !important;
    stroke: unset !important;
  }
}

.react-datepicker {
  background-color: var(--black) !important;
  .react-datepicker__month-container{
    .react-datepicker__header {
      background-color: transparent;
      border: unset !important;
      border-bottom: 1px solid var(--white-op30) !important;
      .react-datepicker__current-month {
        color: var(--white) !important;
      }
    }
    .react-datepicker__day-name {
      color: var(--white) !important;
      font-weight: bold;
    }
  }
  .react-datepicker__day {
    background-color: transparent !important;
    color: var(--white);
    border: 1px solid transparent;
    border-radius: 4px;
    &--selected, 
    &--keyboard-selected {
      outline: unset !important;
    }

    &--in-selecting-range,
    &--in-range {
      background-color: transparent !important;
      color: var(--white) !important;
      &:hover{
        background-color: transparent !important;
      }
    }

    &--outside-month{
      color: transparent !important;
      pointer-events: none !important; 
    }


    &--disabled {
      color: var(--white-op30);
      &::after{
      }
    }
  }
}

